
.owl-nav{
    text-align: center;
    margin: 18px;
}

.owl-nav button i {
    color: #b12c2c;
    transition: .2s;
    border: 2px solid #b12c2c;
}

.owl-nav button i:hover{
    background-color: #b12c2c;
    color: white;
}

.owl-item {
    height: 100% !important;
}

.item {
    height: 100% !important;
}
.body_height {
    max-height: 14rem!important;
    overflow: hidden;
}
.item .card-img-top {
    width: 100%;
    height: 100px;
    object-fit: cover;
}