#cart input ,
#cart textarea ,
#cart select  {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
}

#cart select {
  -webkit-appearance: initial;
  appearance: auto ;
}
#cart .input-group {
    flex-wrap: nowrap !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.table {
  color: inherit !important;
}
.table input {
  max-width: 56px;
}
#not_valid {
  display: none;
}
#submit_mark {
  font-size: 30px;
  color: red ;
  display: none;
}

.success_img {
  position: relative;
  left: 50%;
  transform: translatex(-50%) ;
}