@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#settings_container {
    max-width: 75%;
    margin: 3rem auto;
    padding: 1.5rem 1rem ;
    border: 1px solid #00a30037;
    border-radius: 7px;
  }
  @media (max-width: 552px){
  #settings_container  {
    max-width: 90%;
  }
  }
  #settings_container .right_container{
    max-width: 35rem;
  }
  #settings_container .right_container input {
    margin: 1rem 0;
    padding: .5rem;  
    border-color: transparent transparent rgba(121, 130, 204, 0.329) transparent ;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
}
#settings_container input:focus {
  border-color: #00a300a2 ;
  border-radius: 5px;
}

#settings_container .left_container input {
  margin: .5rem 0;
  padding: .5rem;  
}

#settings_container .button_container button{
  width: 100%;
}
#settings_container .setting_img{
  object-fit: contain;
}
#settings_container #login_button ,
#settings_container #register_button {
  background-color: #00a300c5 ;
}
#settings_container #login_button:hover ,
#settings_container #register_button:hover {
  background-color: #00a300 ;
}
/* #settings_container {
    height: 100vh !important ;
    max-width: 24rem;
    padding: 1.5rem 1rem ;
    border: 1px solid #00000028;
    max-width: 30rem;
    border-radius: 5px;
    margin-top: 10px;
    
}
#settings_container img{
    margin: auto;
    display: block;
    max-width: 80px;
    max-height: 80px;
}

#settings_container .image span {
    background-color: blue;
    color: #fff;
    padding: 6px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 13px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    left: 50px;
}
#settings_container h2 {
    font-family: 'Poppins', sans-serif;
    color: #00a300 ;
    font-size: 35px;
}


#settings_container .btn_container {
    font-size: 30px;
}
#settings_container .buttons .btn {
    min-width: 40%;
    font-weight: 100 !important ;
}

#settings_container .btn_color {
    background-color: #00a300c5;
    color: #fff;
    padding: 10px;
}
#settings_container .btn_color:hover {
    background-color: #00a300;

}

#settings_container input {
    margin: 1rem 0;
    padding: .5rem;  
}
#settings_container small{
    color:red;
    font-weight: 100;
} */
