@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#settings_container {
    max-width: 75%;
    margin: 3rem auto;
    padding: 1.5rem 1rem ;
    border: 1px solid #00a30037;
    border-radius: 7px;
  }
  @media (max-width: 552px){
  #settings_container  {
    max-width: 90%;
  }
  }
  #settings_container .right_container{
    max-width: 35rem;
  }
  #settings_container .right_container input {
    margin: 1rem 0;
    padding: .5rem;  
    border-color: transparent transparent rgba(121, 130, 204, 0.329) transparent ;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
}
#settings_container input:focus {
  border-color: #00a300a2 ;
  border-radius: 5px;
}

#settings_container .left_container input {
  margin: .5rem 0;
  padding: .5rem;  
}

#settings_container .button_container button{
  width: 100%;
}
#settings_container .setting_img{
  object-fit: contain;
}
#settings_container #update_button {
  background-color: #00a300c5 ;
}
#settings_container #delete_button {
  background-color: rgb(236, 47, 47) ;
}
#settings_container #update_button:hover {
  background-color: #00a300 ;
}
#settings_container #delete_button:hover {
  background-color: red ;
}
#settings_container small{
  position: absolute;
  color: red;
}
