.card {
    border: none
}

.image {
    position: relative
}

.image span {
    background-color: blue;
    color: #fff;
    padding: 6px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 13px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -0px;
    right: 0px
}

.user-details h4 {
    color: blue
}

.inputs label {
    display: flex;
    margin-left: 3px;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 4px;
}
.data_container div{
    margin:1rem;

}

.inputs input {
    font-size: 14px;
    height: 40px;
    border: 2px solid #ced4da;
}

.inputs input:focus {
    box-shadow: none;
    border: 2px solid blue;
}

.btn {
    font-weight: 600;
}

.btn:focus {
    box-shadow: none;
}