

#user_profile .card {
    border: none
}
#user_profile .name_image_block{
    border-radius: 25px;
    border: 2px solid rgb(108, 195, 224);
    box-shadow:5px 5px rgb(46, 172, 214) ;
    margin: auto;
}
#user_profile .form_container{
    border-radius: 10px;
    border: 2px solid rgb(108, 195, 224);
    box-shadow:5px 5px rgb(46, 172, 214) ;
}
#user_profile .image {
    position: relative
}

#user_profile .image span {
    background-color: blue;
    color: #fff;
    padding: 6px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 13px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    left: 50px
}

#user_profile .user-details h4  {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: left;
    align-items: center;
    color: blue;
    padding:20px
}


#user_profile .inputs label {
    display: flex;
    margin-left: 3px;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 4px;
}

#user_profile .inputs input {
    font-size: 14px;
    height: 40px;
    border: 2px solid #ced4da
}

#user_profile .inputs input:focus {
    box-shadow: none;
    border: 2px solid blue
}


#user_profile .btn {
    font-weight: 600
}

#user_profile .btn:focus {
    box-shadow: none
}