.visi {
  visibility: hidden;
}
#centeremptycart {
  font-size: larger;
  text-align: center;
  height: 100vh;
  vertical-align: middle;
}

#centeremptycart img {
  filter: drop-shadow(1px 1px 50px rgba(238, 238, 238, 0.582));
}
#centeremptycart .startshoping {
  background-color: #00a300c7;
  color: white;
}
#centeremptycart .startshoping:hover {
  background-color: #00a300;
}

.big {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
}
.BsFillTrashFill {
  width: 30px;
  height: 30px;
  margin-bottom: 30px;
  color: #00a300;
}
