
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.con2 {
  background-color: #eeeeee;
  margin-top: 50px;
}

.flip-card {
  background-color: transparent;
  width: 330px;
  height: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #6fd33de8;
  color: white;
  transform: rotateY(180deg);
}

.inli {
  display: inline-block;
  margin: auto;
}
.imgsize {
  width: 100%;
  height: 100%;
}
/* --------------------------------------------------------- Catigorise ------------------------------------------ */

.catigorise{
  margin: 5rem 0 ;
}
.catigorise a {
  position: relative;
  padding: .5rem 1rem 0 ;
  margin: 2rem 0 ;
  width: 40rem;
  transition: .5s;
  height: 9rem;
}
.catigorise a h3 ,
.catigorise a p {
  z-index: 5;
  position: relative;
} 
.catigorise a::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  height: 100%;
  width: 8px;
  background-color: #089bdf86;
  transition: .5s;

}
.catigorise:hover a {
  width: 100%;
  margin-left: 0;
}
.catigorise a:hover::before  {
  content: " ";
  width: 100%;
  border-radius: 8px;
}
.catigorise .catigory_2 {
  margin-left: 15rem;
}

.catigorise .catigory_3 {
  margin-left: 30rem;
}

@media (max-width : 992px ) {
  .catigorise .catigory_2 {
    margin-left: 8rem;
  }

  .catigorise .catigory_3 {
    margin-left: 16rem;
  }
}
@media (max-width : 776px ) {
  .catigorise .catigory_2 {
    margin-left: 0;
  }

  .catigorise .catigory_3 {
    margin-left: 0;
  }
}

.catigorise a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}